@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&family=Poppins:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: "Nunito";
    font-weight: lighter;
}
h1{
    font-size: 38px;
    margin: 0 0 30px 0;
}
h2{
    margin-bottom: 10px;
}
p{
    font-size: 22px;

}
.pagina2{
    width: 100%;
    height: 500px;
    border: 2px solid black;
}
.contenedor-libros{
    display: inline-block;

    width: 200px;
    height: 90vh;
    overflow:scroll;
}
.contenedor-libros li:hover{
    background-color: rgba(27, 25, 25, 0.788);
    color: white;
}